<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios Registrados</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments::navbar" />

<div class="container mt-4">
    <h2>Usuarios Registrados</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td><a th:href="@{/registered/{id}(id=${user.id})}" th:text="${user.nombre}"></a></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getFechaNacimiento()}"></td>
            <td>
                <form action="get"></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>